body, ul {
    margin: 0;
    padding: 0;
    background-color: rgb(229, 232, 232);
    list-style-type: none;
    font-family: sans-serif;
  
  }



/* Reset some default styles */

  
  /* Style the header and navbar */
  headeR {
    background-color: #007BFF;
  }
  .user-accounT{
    display: none;
  }
  .navbaR{
    background-color: #007BFF;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0.3px;
   margin: 0 2px;
    opacity: 1;
    z-index: 1;
  }
  .nav-headeR{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 1rem;
  }
  .nav-togglE {
    font-size: 1.5rem;
    color: black;
    background: transparent;
    border-color: transparent;
    transition: 500ms;
    cursor: pointer;
  }
  .nav-togglE:hover {
    color: white;
    transform: rotate(90deg);
  }
  
  .logO img {
    max-height: 100px;
    margin-left: -12px;
    transition: 500ms;
  }
  .logO img:hover{
    transform: rotate(360deg);
  }
  .nav-linkS li {
    margin-right: 20px;
  }
  .user-accounT a {
    display: none;
  }
  .nav-linkS {
    height: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
   
  }
  .nav-linkS a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
  }
  .show-navbaR .user-creD {
    height: 2.1rem;
    overflow: hidden;
    display: block;
    justify-content:left ;
    transition:500ms;
  }
  .show-navbaR .user-creD{
    display: flex;
    background-color:#007BFF ;
    justify-content: flex-start;
    margin-top: 0.1px;
  }
  
  .show-navbaR .user-creD a{
    padding: 0.5rem 0rem;
    margin-left: 15px;
   
  }
  .show-navbaR .user-creD .user-cred-L{
    margin: 0 -12px 0 16px;
  }
  .show-navbaR .user-creD .slaS{
    margin:0px -12px 0px 15px ;
  }
  .show-navbaR .user-creD .slaS:hover{
   color: black;
  }
  
  .show-navbaR .user-creD a:hover{
    color: white;
    background-color: #007BFF;
    padding: 0.5rem;
  }
  .show-navbaR a {
    background-color: #007BFF;
    color: black;
    font-size: 1rem;
    display: block;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    letter-spacing:0.75px;
    transition:500ms;
    text-decoration: none;
  }
  .show-navbaR a:hover {
    background: white;
    color: #007BFF;
    /* padding-left: 1.5rem; */
  }
    

.not-expanded{
    display: none;
}
.expanded{
    position: fixed;
    top: 15%;
    width: 180px;
    left: 63%;
    height: 200px;
    z-index: 1;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}
.profile{
    display: flex;
    margin-top: -7px;
}
.profile .profile-img{
  width: 40px;
  border-radius: 50%; 
}
.profile p{
  top: 12px;
  left: 12px;
}
.profile-1{
  display: flex;
  margin-bottom: 5px;
  transition: 0.2s ease-in;
}
.profile-1 .profile-img-1{
  width: 16px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.8;
}
.profile-1 p{
  top: 0.5px;
  left: 12px;
  font-size: 12.5px;
  transition: 10ms all ease;
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.profile-1:hover{
  padding:0 0.5px ;
  cursor: pointer;
  font-weight:bold ;
} 
 .profile-1 p:hover{
 font-weight:bold ;
}
.profile-img-div{
  
  padding:8px 7px 0px 8px;
  border-radius: 55%;
}
 .profile-1 .profile-img-arrow-1{
  width: 15px;
  height: 15px;
  margin: 8.7px 0 0 45px;
  opacity: 0.8;

}
.profile-1 .profile-img-arrow-2{
  width: 15px;
  height: 15px;
  margin: 8.7px 0 0 69px;
  opacity: 0.8;

}
.profile-1 .profile-img-arrow-3{
  width: 15px;
  height: 15px;
  margin: 8.7px 0 0 23px;
  opacity: 0.8;

}
.profile-1 .profile-img-arrow-4{
  width: 15px;
  height: 15px;
  margin: 8.7px 0 0 77px;
  opacity: 0.8;

}

#linE p{
  color:#7f8081;
  margin-top: 21px;
    
}
#linE p:before,#linE p:after{
  position:relative;
  content: '';
  height:0.1px;
  width: 50%;
  background: rgba(54, 54, 54, 0.362);
  display: inline-block;
  top: -15px;
 
}

#linE p::before{
  margin-right: 0px;
}
#linE p::after{
  margin-left: 0px;
}
  /* Media query for mobile responsiveness */
@media screen and (min-width: 750px) {
    .navbaR {
      background-color: #007BFF;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 1px;
      padding:0 0px;
      overflow: hidden;
      opacity: 1;
      z-index: 1;
      position: fixed;
    }
    .expanded{
      left: 69%;
    }
    .nav-togglE {
      display: none;
    }
    .nav-linkS {
      height: auto;
      display: flex;
      background-color: #007BFF;
      color: black;
      margin: 0 1.5rem;
    }
    .nav-linkS a {
      padding: 0;
      margin: 0 0.25rem;
      text-decoration: none;
      width: 99%;
      text-align: center;
      transition:500ms;
    }
    .show-navbaR {
      height: auto;
      display: flex;
      background-color: #007BFF;
  
    }
    .show-navbaR a {
      padding: 0;
      margin: 1rem 0.65rem;
      text-decoration: none;
      width: 99%;
      text-align: center;
      transition:500ms;
      
    }
    .show-navbaR a:hover {
      padding: 0;
      color: white;
      background: transparent;
      
    }
    .nav-linkS a:hover {
      padding: 0;
      color: white;
      background: transparent;
    }
    .user-creD a{
      display: none;
      
    }
    .user-accounT{
      display: flex;
  
    }
    .user-accounT:hover{
      cursor: pointer;
  
    }
    .user-accounT a {
      color: black;
      font-size: 1rem;
      text-transform: capitalize;
      letter-spacing: var(--spacing);
      display: block;
      padding: 0.5rem 0.2rem;
      transition:500ms;
      text-decoration: none;
    }
    .user-accounT .slasH{
      color: black;
    }
    .user-accounT .slasH:hover{
      color: black;
    }
    .user-accounT a:hover{
      color: white;
    }
}