
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
  * *::after *::before{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

.Box{
    width: 600px;
    height: 660px;
    background: #007BFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    
}
.bodywrap{
    text-align: center;
}
.head{
    
    width: 100%;
    background: #007BFF;
    height: 63px;
    overflow: hidden;
}
#close {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 34px; height: 34px;
	border-radius: 15px;
	background: transparent;
	color: #f5f5f5;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
    margin-top: 20px;
    margin-left: 3px;
    bottom: 42px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
#close:before, #close:after {
    position:absolute;
    top: 22%; left: calc(50% - .0625em);
    width: .100em; height: 54%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
}

#close:after { 
    transform: rotate(-45deg); 
}
#close:hover {
    background: #ebefef;
    color:black;
}
#logo{
    height: 67px;
    width: 67px;
    left: 230px;
    position: relative;
    top: 2px;
}
#Sign{
  
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 45px;
    
    
}
#Sign h1{
    color: white;
}
a{
     text-decoration: none;
     color: white;
     
}
.Btn{
    display: block;
    background-color: #ffffff;
  padding: 6px 72px;
  border-radius: 40px;
  width: fit-content;
  max-width: 300px;
     margin-left: auto;
     margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    color: #626464;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.Btn1{
    display: block;
    background-color: #ffffff;
  padding: 14px 91px;
  border-radius: 40px;
  width: fit-content;
  max-width: 300px;
     margin-left: auto;
     margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    color: #626464;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
p{  
    position: relative;
    margin: 0;
    
}

#glogo{
    width: 55px;
    height: 40px;
}
#alogo{
    width: 17px;
    height: 18px;
    margin-right: 20px;
}
#line p{
    color:#E6E8E9;
    margin-top: 21px;
      
}
#line p:before,#line p:after{
    position:relative;
    content: '';
    height:0.1px;
    width: 27.7%;
    background: rgba(255, 255, 255, 0.362);
    display: inline-block;
    left: 0px;
    vertical-align: middle;
}

#line p::before{
    margin-right: 2px;
}
#line p::after{
    margin-left: 2px;
}
.other_login_cred{
    background-color: #e6e8e900;
    border: 1px solid rgba(255, 255, 255, 0.362);
    padding: 20px 10px;
    border-radius: 5px;
    font-size: medium;
    width: 330px;
    margin-top: 21px;
    color: #E6E8E9;
    
}
.other_login_cred::placeholder{   
    position: relative;
    font-size: medium;
    padding: 20px 10px;
    transition: 0.3s;
    transform-origin: center;
    color: white;
}
.other_login_cred:focus{
    border: 2px solid #4199e1;
    outline: none;
}
input:focus::placeholder
{
    color: black;
    font-size: small;
    top: -16px;
    left: -10px;
}
.F-pswd{

    margin: 8px 0px -10px 220px;
    color: white;
}
.F-pswd p{
    color: white;
}
.F-pswd p:hover{
    text-decoration: underline;
    cursor: pointer;
}
#btn3{
   display: inline-block;
    margin-top: 29px;
    width: 358px;
    border-radius: 40px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: medium;
    padding: 14px;
    cursor: pointer;
    transition: 0.2s;
}
#btn3:hover{
    background-color: #ffffffca;
}
#btn4{
    display: inline-block;
     margin-top: 23px;
     width: 358px;
     border-radius: 40px;
     border:1px solid rgba(255, 255, 255, 0.362);
     font-family: 'Poppins', sans-serif; 
     font-weight: 700;
     font-size: medium;
     padding: 14px;
     cursor: pointer;
     transition: 0.2s;
     background-color: #18191900;
     color: white;
 }
 #btn4:hover{
    border: 1px solid white;
 }
 #line-2{
    color:#E6E8E9;
    margin-top: 21px;
      
}
#line-2 p:before,#line-2 p:after{
    position:relative;
    content: '';
    height:0.1px;
    width: 29.2%;
    background: rgba(255, 255, 255, 0.362);
    display: inline-block;
    left: 0px;
    vertical-align: middle;
}

#line-2 p::before{
    margin-right: 0px;
}
#line-2 p::after{
    margin-left: 0px;
}
.P{
    font-size: 14.3px;
    margin: 30px;
    display: flex;
    justify-content: center;
}
.Registr{
    margin-left: 3px;
    transition: text-decoration 0.2s;
}
.Registr:hover{
    font-style: unset;
    text-decoration: underline;
}

