.box{
  width: 600px;
  height: 710px;
  background: #007BFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  
}

.Btn-R{
    display: block;
    background-color: #ffffff;
  padding: 6px 65px;
  border-radius: 40px;
  width: fit-content;
  max-width: 300px;
     margin-left: auto;
     margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    color: #626464;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

