
.history-img{
    width: 40px;
}
.History{
    margin: 0px 0 0 -4%  ;
}
.MY-profile{
    background-color:transparent;
    width: 180%;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
    margin: 28px -5% 0 0;
    min-width: 400px;
    box-shadow: 0 0 2px black;
    position: relative;
}
.MY-profile hr{
    margin-bottom: 20px;
}
.My-5{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 1.6fr; 
    gap: 12%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.255);
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.grid-item {
    text-align: left;
  }
  .grid-item p{
    margin: 0px 0 5px 0;
  }
  .grid-item p button{
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    background-color: #007BFF;
    border: none;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  .Rating{
    width: 50%;
  }
  .filter-1 img {
    width: 20px;
}
.Rating .boxes {
    width: 200%;
    transition: height 0.15s;
}
.Rating .boxes img {
    margin: 5px 2px;
    width: 20px;
}
.Rating .boxes-hide {
    height: 0px;
    margin-left: 20px;
    overflow: hidden;
    transition: height 0.15s;
}
.Rating  .boxes.height {
    height: 120px;
}

.Rating .boxes button{
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    background-color: #007BFF;
    border: none;
    letter-spacing: 1px;
    margin: 0 5px;
  }
@media screen and (max-width:1100px) {
    .MY-profile{
        background-color: transparent;
        width: 120%;
        height: auto;
        padding: 1rem;
        border-radius: 5px;
        margin: 28px -10% 0 -5%;
        min-width: 400px;
        box-shadow: 0 0 2px black;
        position: relative;
    }
    .My-5{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.5fr 1.6fr; 
        gap: 7%;
        /* background-color: #d6d6d6; */
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.255);
        padding: 20px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:900px)
{
    .History{
        margin: 0px 0 0 -5%  ;
    }
    .MY-profile{
        background-color: transparent;
        width: 120%;
        height: auto;
        padding: 1rem;
        border-radius: 5px;
        margin: 28px -8% 0 -3%;
        min-width: 400px;
        box-shadow: 0 0 2px black;
        position: relative;
    }
    .My-5{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.5fr 1.6fr; 
        gap: 1%;
        /* background-color: #d6d6d6; */
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.255);
        padding: 20px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

}
@media screen and (max-width:800px)
{
    .History{
        margin: 0 0 0 0;
    }
    .MY-profile{
        background-color: transparent;
        width: 90%;
        height: auto;
        padding: 1rem;
        border-radius: 5px;
        margin: 28px -10% 0 10%;
        min-width: 400px;
        box-shadow: 0 0 2px black;
        position: relative;
    }
    .My-5{
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.5fr 1.7fr; 
        gap: 1%;
        /* background-color: #d6d6d6; */
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.255);
        padding: 20px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

}