@font-face {
    font-family: SigUi;
    src: url("Segoe UI.ttf");
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
  * *::after *::before{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(219, 225, 230);
}
.box{
    width: 600px;
    height: 643px;
    background: #0056b3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    border-radius: 20px;
    overflow: hidden;
    
}
.bodywrap{
    text-align: center;
}
.head{
    
    width: 100%;
    background: #0056b3;
    height: 63px;
    overflow: hidden;
}

#logo{
    height: 67px;
    width: 67px;
    left: 264px;
    position: relative;
    top: 5px;
}
#sign{
  
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}
a{
     text-decoration: none;
     color: white;
     
}
.btn{
    display: block;
    background-color: #ffffff;
  padding: 3px 75px;
  border-radius: 40px;
  width: fit-content;
  max-width: 300px;
     margin-left: auto;
     margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    color: #626464;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.btn1{
    display: block;
    background-color: #ffffff;
  padding: 14px 91px;
  border-radius: 40px;
  width: fit-content;
  max-width: 300px;
     margin-left: auto;
     margin-right: auto;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    color: #626464;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
p{  
    position: relative;
    margin: 0;
    
}

#glogo{
    width: 55px;
    height: 40px;
}
#alogo{
    width: 17px;
    height: 18px;
    margin-right: 20px;
}
#line{
    color:#E6E8E9;
    margin-top: 21px;
    
}
#line p:before,#line p:after{
    position:relative;
    content: '';
    height: 0.1px;
    width: 27.7%;
    background: #d8d8d836;
    display: inline-block;
    left: 0px;
    vertical-align: middle;
}

#line p::before{
    margin-right: 2px;
}
#line p::after{
    margin-left: 2px;
}
.other_login_cred{
    background-color: #e6e8e900;
    border: 1px solid #d8d8d836;
    padding: 20px 10px;
    border-radius: 5px;
    font-size: medium;
    width: 358px;
    margin-top: 21px;
    color: #E6E8E9;
    
}
.other_login_cred::placeholder{   
    position: relative;
    font-size: medium;
    padding: 20px 10px;
    transition: 0.3s;
    transform-origin: center;
    color: black;
}
.other_login_cred:focus{
    border: 2px solid white;
    outline: none;
}
input:focus::placeholder
{
    color: white;
    font-size: small;
    top: -16px;
    left: -10px;
}
#btn3{
   display: inline-block;
    margin-top: 29px;
    width: 358px;
    border-radius: 40px;
    border:none;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: medium;
    padding: 14px;
    cursor: pointer;
    transition: 0.2s;
}
#btn3:hover{
    background-color: #ffffffca;
}
#btn4{
    display: inline-block;
     margin-top: 23px;
     width: 358px;
     border-radius: 40px;
     border:1px solid rgba(255, 255, 255, 0.362);
     font-family: 'Poppins', sans-serif; 
     font-weight: 700;
     font-size: medium;
     padding: 14px;
     cursor: pointer;
     transition: 0.2s;
     background-color: #18191900;
     color: white;
 }


